APP_ENV=development   # development | homolog | production

# Common
KAFKA_BROKERS=localhost:19092
KAFKA_CLIENT_ID=freelas-app
REDIS_URL=redis://localhost:6379

# API
API_PORT=3001
HOST=0.0.0.0
USE_REAL_KAFKA=true
USE_REAL_REDIS=true

# Web
WEB_PORT=3000
NEXT_PUBLIC_API_URL=http://localhost:3001

# Demo map defaults
DEFAULT_LAT=-23.55052
DEFAULT_LNG=-46.633308
